<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UML -->
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/UML"
            class="uml.UmlPackage"
            genModel="model/UML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UML -->
      <parser
            type="uml"
            class="uml.util.UmlResourceFactoryImpl"/>
   </extension>

</plugin>
